/* Global Styles */
body {
    display: grid;
    justify-content: center;
}

/* Header Styles */
h1 {
    font-size: 40px;
}

/* List Styles */
ul {
    list-style: none;
    margin: auto;
    padding: 0px;
}

/* Responsive Styles */
@media all and (max-width: 500px) {
    h1 {
        font-size: 20px;
    }
}

@media all and (min-width: 500px) and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
}